.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  font-family: Arial;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  animation: pop 0.3s ease;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

#closePopup {
  margin-top: 10px;
  padding: 8px 20px;
  background: #008cff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.terms-link{
    text-decoration: underline;
    color: rgb(83, 108, 235);
    cursor: pointer;

}
.terms-link:hover{
    color: rgb(230, 41, 41);   
}